body {
    background-color: #ffffff;
    background-position: top;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #FF4081;
}

section {
    padding: 40px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

.profile {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about_img_margin{
    text-align: center;
    width: 5%;
    margin: 2%;
}

address {
    font-style: normal;
    text-align: center;
}

/* Additional Styles for Contact Section */
#contacts {
    background-color: #333;
    color: white;
    padding: 40px;
    text-align: center;
}

#contacts p {
    font-size: 1.2em;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

#home,
#about,
#resume,
#projects,
#contacts{
    background-image: url(https://wallpapers.com/images/hd/blue-tree-aesthetic-pc-cqlbvlg42a4d0tob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;
    margin: 5px;
}
